.main-container {
    max-height: 100%;
}

.search-box-container {
    margin: 3%;
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    padding: 1%;
}

.loading-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-box-container form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.search-box-container label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-inline: 1%;
    margin-bottom: 3%;
}

.table-container {
    display: flex;
    justify-content: center;
}

.labels {
    margin-left: 2%;
    font-size: 2.2em;
    color: var(--secondary-color);
}

.customInput,
.customSelect {
    margin-top: 2%;
    min-height: 2em;
    width: 20em;
    font-size: 1.4em;
    padding-inline: 1em;
    border-radius: 0.4em;
    background-color: var(--primary-color);
    border: 0px;
    color: var(--secondary-color);
}

.customSelect {
    /* Select component has a slightly smaller
        dimensions than Input. */
    min-height: 2.09em;
    width: 22em;
}

.customInput::placeholder {
    color: var(--secondary-color);
}

.customInput:hover,
.customSelect:hover {
    background-color: var(--primary-hovor);
}

.customSelect:hover {
    cursor: pointer;
}

@media only screen and (max-width: 820px) {
    .customInput,
    .customSelect {
        width: 13em;
        font-size: 1em;
    }

    .labels {
        margin-left: 2%;
        font-size: 1.7em;
        color: var(--secondary-color);
    }

    .customSelect {
        /* Select component has a slightly smaller
            dimensions than Input. */
        min-height: 2.09em;
        width: 15em;
    }

    .ag-theme-balham-dark {
        font-size: 0.5em;
        width: 100%;
    }
}
