body {
    background-color: var(--background-page);
}
.nav-container {
    position: sticky;
    top: 0;
    background-color: var(--primary-color);
    min-height: 4.5em;
    display: flex;
    justify-content: space-between;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    z-index: 99;
}

.logo-container {
    margin-top: 2%;
    margin-right: 8%;
}

.website-logo {
    height: 75px;
    border-radius: 50%;
}

.nav-header {
    display: flex;
    padding-left: 8%;
    color: var(--secondary-color);
}

.nav-header h1 {
    padding-inline: 5%;
}

.inner-container {
    display: flex;
    flex-direction: row;
    padding-right: 8%;
}

.nav-divider,
.nav-item {
    color: var(--secondary-color);
    list-style: none;
    font-size: 1.7em;
    display: flex;
    align-items: center;
}

.links {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.nav-item {
    padding-inline: 0.7em;
    font-size: 1.7em;
}

.links:hover {
    background-color: var(--primary-hovor);
    transition-timing-function: ease-in-out;
    cursor: pointer;
    /* Quick on the way out */
    transition: 0.3s;
}

.links:active {
    background-color: var(--light-blue);
    color: var(--primary-color);
}

@media only screen and (max-width: 820px) {
    .website-logo {
        display: none;
    }
    .nav-header {
        padding-left: 3%;
        color: var(--secondary-color);
        font-size: 8px;
        margin-top: 5%;
    }

    .nav-header h1 {
        padding-inline: 5%;
    }

    .nav-divider,
    .nav-item {
        font-size: 1em;
    }
}
